@import url('https://fonts.googleapis.com/css?family=Varela+Round');



body,
html {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: 'Varela Round', sans-serif;
  overflow: hidden;
  margin: 0;
}


body {
  background-image: url('https://i.pinimg.com/736x/34/13/aa/3413aa69edede72aaf054ca2b7b75821.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


:root {
  --color1: #ffffff;

  --color2: #ffffff;
}




